apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "seo-wizzard.fullname" . }}
  labels:
    {{- include "seo-wizzard.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "seo-wizzard.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "seo-wizzard.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "seo-wizzard.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: PORT
              value: "{{ .Values.service.targetPort}}"
            - name: SHOPIFY_APP_URL
              value: https://frontend.seo-wizzard.org
            - name: SHOPIFY_API_KEY
              valueFrom:
                secretKeyRef:
                  name: seo-wizzard-secrets
                  key: shopify-api-key
            - name: SHOPIFY_API_SECRET
              valueFrom:
                secretKeyRef:
                  name: seo-wizzard-secrets
                  key: shopify-api-secret
            - name: POSTGRES_HOST
              value: postgres.default.svc.cluster.local
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: shopify.postgres.credentials.postgresql.acid.zalan.do
                  key: username
            - name: POSTGRES_DATABASE
              value: "shopify_app_db"
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: shopify.postgres.credentials.postgresql.acid.zalan.do
                  key: password
            - name: DATABASE_URL
              value: >-
                postgresql://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@$(POSTGRES_HOST):$(POSTGRES_PORT)/$(POSTGRES_DATABASE)
            - name: CRON_SECRET
              valueFrom:
                secretKeyRef:
                  name: seo-wizzard-secrets
                  key: cron-secret
            - name: RESEND_API_KEY
              valueFrom:
                secretKeyRef:
                  name: seo-wizzard-secrets
                  key: resend-api-key
            - name: SHOPIFY_SEO_WIZZARD_EXTENSION_FILE_NAME
              value: 404-redirect
            - name: SHOPIFY_SEO_WIZZARD_EXTENSION_ID
              value: "0986e27a-90bf-4af8-8c79-9312c6e46f3a"
            - name: SCOPES
              value: "read_themes, write_online_store_navigation"
            - name: ENV
              value: production
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      
